USE [master]
GO
/****** Objeto: Database [DATAFUEL] Fecha de script: 29/9/2026 13:50:01 ******/
CREATE DATABASE [DATAFUEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATAFUEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DATAFUEL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATAFUEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DATAFUEL_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATAFUEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATAFUEL]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] NOT NULL,
	[nombre_categoria] [varchar](100) NULL,
	[imagen_categoria] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [varchar](10) NOT NULL,
	[nombre_cliente] [varchar](150) NOT NULL,
	[cargo_contacto] [varchar](100) NULL,
	[direccion_cliente] [varchar](255) NULL,
	[ciudad_cliente] [varchar](100) NULL,
	[region_cliente] [varchar](100) NULL,
	[codigo_postal_cliente] [varchar](20) NULL,
	[pais_cliente] [varchar](100) NULL,
	[telefono_cliente] [varchar](50) NULL,
	[email_cliente] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Detalle_Pedido_Clientes] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pedido_Clientes](
	[id_pedido_cliente] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad_dt_pedido] [int] NOT NULL,
	[porcentaje_descuento_dt_pedido] [decimal](5, 2) NULL,
	[total_dt_pedido] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido_cliente] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Detalle_Pedidos_Estaciones] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pedidos_Estaciones](
	[id_pedido_estacion] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad_dt_pedido] [int] NOT NULL,
	[porcentaje_descuento_dt_pedido] [decimal](5, 2) NULL,
	[total_dt_pedido] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido_estacion] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleados] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_empleado] [varchar](100) NOT NULL,
	[apellido_empleado] [varchar](100) NOT NULL,
	[telefono_empleado] [varchar](50) NULL,
	[cargo_empleado] [varchar](100) NULL,
	[fecha_contratacion_empleado] [date] NULL,
	[fecha_nacimiento_empleado] [date] NULL,
	[direccion_empleado] [varchar](255) NULL,
	[codigo_postal_empleado] [varchar](20) NULL,
	[ciudad_empleado] [varchar](100) NULL,
	[region_empleado] [varchar](100) NULL,
	[pais_empleado] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Equipos] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[id_equipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_equipo] [varchar](100) NOT NULL,
	[tipo_equipo] [varchar](100) NULL,
	[estado_equipo] [varchar](50) NULL,
	[id_estacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estaciones] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estaciones](
	[id_estacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_estacion] [varchar](150) NOT NULL,
	[ciudad_estacion] [varchar](100) NULL,
	[provincia_estacion] [varchar](100) NULL,
	[tipo_estacion] [varchar](50) NULL,
	[fechaapertura] [date] NULL,
	[region] [varchar](50) NULL,
	[direccionficticia] [varchar](200) NULL,
	[latitud] [decimal](10, 6) NULL,
	[longitud] [decimal](10, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Mantenimientos] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimientos](
	[id_mantenimiento] [int] NOT NULL,
	[fecha_mantenimiento] [date] NOT NULL,
	[tipo_mantenimiento] [varchar](100) NOT NULL,
	[costo_mantenimiento] [decimal](18, 2) NOT NULL,
	[id_equipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedidos_Clientes] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_Clientes](
	[id_pedido_cliente] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pedido] [date] NULL,
	[fecha_envio_pedido] [date] NULL,
	[fecha_entrega_pedido] [date] NULL,
	[estado_envio_pedido] [varchar](50) NULL,
	[id_empleado] [int] NULL,
	[id_cliente] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedidos_Estaciones] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_Estaciones](
	[id_pedido_estacion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pedido] [date] NULL,
	[fecha_envio_pedido] [date] NULL,
	[fecha_entrega_pedido] [date] NULL,
	[estado_envio_pedido] [varchar](50) NULL,
	[id_empleado] [int] NULL,
	[id_estacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido_estacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [varchar](150) NOT NULL,
	[descripcion_cantidad_por_unidad] [varchar](50) NULL,
	[cantidad_unidad] [int] NULL,
	[precio_producto] [decimal](18, 2) NOT NULL,
	[unidades_stock_producto] [int] NULL,
	[unidades_pedido_producto] [int] NULL,
	[nivel_punto_reposicion_pedido] [int] NULL,
	[id_proveedor] [int] NULL,
	[id_categoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 29/9/2026 13:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre_proveedor] [varchar](150) NOT NULL,
	[telefono_proveedor] [varchar](50) NULL,
	[email_proveedor] [varchar](100) NULL,
	[ciudad_proveedor] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detalle_Pedido_Clientes] ADD  DEFAULT ((0)) FOR [porcentaje_descuento_dt_pedido]
GO
ALTER TABLE [dbo].[Detalle_Pedidos_Estaciones] ADD  DEFAULT ((0)) FOR [porcentaje_descuento_dt_pedido]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [unidades_stock_producto]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [unidades_pedido_producto]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [nivel_punto_reposicion_pedido]
GO
ALTER TABLE [dbo].[Detalle_Pedido_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCli_Pedidos] FOREIGN KEY([id_pedido_cliente])
REFERENCES [dbo].[Pedidos_Clientes] ([id_pedido_cliente])
GO
ALTER TABLE [dbo].[Detalle_Pedido_Clientes] CHECK CONSTRAINT [FK_DetalleCli_Pedidos]
GO
ALTER TABLE [dbo].[Detalle_Pedido_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCli_Productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[Detalle_Pedido_Clientes] CHECK CONSTRAINT [FK_DetalleCli_Productos]
GO
ALTER TABLE [dbo].[Detalle_Pedidos_Estaciones]  WITH CHECK ADD  CONSTRAINT [FK_DetalleEst_Pedidos] FOREIGN KEY([id_pedido_estacion])
REFERENCES [dbo].[Pedidos_Estaciones] ([id_pedido_estacion])
GO
ALTER TABLE [dbo].[Detalle_Pedidos_Estaciones] CHECK CONSTRAINT [FK_DetalleEst_Pedidos]
GO
ALTER TABLE [dbo].[Detalle_Pedidos_Estaciones]  WITH CHECK ADD  CONSTRAINT [FK_DetalleEst_Productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[Detalle_Pedidos_Estaciones] CHECK CONSTRAINT [FK_DetalleEst_Productos]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Estaciones] FOREIGN KEY([id_estacion])
REFERENCES [dbo].[Estaciones] ([id_estacion])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Estaciones]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Equipos] FOREIGN KEY([id_equipo])
REFERENCES [dbo].[Equipos] ([id_equipo])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Equipos]
GO
ALTER TABLE [dbo].[Pedidos_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_PedidosCli_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Pedidos_Clientes] CHECK CONSTRAINT [FK_PedidosCli_Clientes]
GO
ALTER TABLE [dbo].[Pedidos_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_PedidosCli_Empleados] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[Pedidos_Clientes] CHECK CONSTRAINT [FK_PedidosCli_Empleados]
GO
ALTER TABLE [dbo].[Pedidos_Estaciones]  WITH CHECK ADD  CONSTRAINT [FK_PedidosEst_Empleados] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[Pedidos_Estaciones] CHECK CONSTRAINT [FK_PedidosEst_Empleados]
GO
ALTER TABLE [dbo].[Pedidos_Estaciones]  WITH CHECK ADD  CONSTRAINT [FK_PedidosEst_Estaciones] FOREIGN KEY([id_estacion])
REFERENCES [dbo].[Estaciones] ([id_estacion])
GO
ALTER TABLE [dbo].[Pedidos_Estaciones] CHECK CONSTRAINT [FK_PedidosEst_Estaciones]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores]
GO
USE [master]
GO
